####################################################
##Config file for control.sh
####################################################

##program directory,default is current directory
APP_DIR=

##app name
APP_NAME=mfc-img-gateway-1.0.0.jar

##app config file
APP_CONF=
##APP_CONF=../conf/application.properties

##jvm options
JAVA_OPTS="-Xmx1024m"